.digital-counter {
  display: flex;
  align-items: center;
  padding: 1px;
  background-color: #000;
  border: 1px solid #464646;
  border-right-color: #8c8c8c;
  box-shadow: -1px 0 #808080, 1px 0 #fefefe, 0 1px #c6c6c6, 0 -1px #808080;
}
